{% extends 'base.html' %} {% block content %} {% load static %}
<section id="footer" class="reveal">
  <div class="inner reveal-element">
    <a href="/"
      ><img width="200px" src=" {% static 'images/logo.png' %}" alt=""
    /></a>
    <h1>News</h1>
  </div>
</section>

<section id="one" class="main style1">
  <div class="container">
    {% for new in news %}
    <div class="inner t-a-c">
      <h1>{{ new.header}}</h1>
      <p>{{new.message}}</p>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
